.macro-search-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.macro-search-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px; 
  border-radius: 10px;
  width: 100%;
}

.macro-input {
    flex: 1 1 45%;
    padding: 0.6rem 1rem;
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: #292929;
    font-size: 1rem;
    transition: all 0.2s ease;
    outline: none;
    height: 20px;
}

.submit-button {
  width: 100%;
  height: 40px;
  background-color: #292929;
  color: #292929; 
  border: none; 
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

.macro-input:hover {
  background-color: #4d4d4d;
}