.macro-search-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.macro-search-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .5rem; 
  border-radius: 10px;
  width: 100%;
}

.macro-input {
    padding: 0.6rem 1rem;
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: #292929;
    font-size: 1rem;
    transition: all 0.2s ease;
    outline: none;
    height: 20px;
}

.macro-input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-button {
  width: 20%;
  height: 3rem;
  background-color: #499b49;
  color: #ffffff; 
  border: none; 
  border-radius: 5px;
  align-items: center; 
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

.macro-input:hover {
  background-color: #4d4d4d;
}

.macro-label {
  font-size: 1.15rem;
  width: 6rem;
  font-weight: 500;
  color: #333;
}

.grams {
  font-size: 1.15rem;
  font-weight: 500;
  color: #333;
  width: 2rem;
}

.k-slider .k-slider-selection {
  background-color: #7f98c2;
}

.k-slider .k-slider-track {
  background-color: #d1d5db;
}
.k-slider .k-draghandle {
  background-color: #2563eb; 
  border-color: #2563eb;
}