.macro-search-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.macro-search-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px; 
  width: 100%;
}

.custom-textbox {
  width: 100%;
  height: 40px;
  padding-right: 0px;
}

.submit-button {
  width: 100%;
  height: 40px;
  background-color: #007bff;
  color: white; 
  border: none; 
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}