h1 {
  text-align: center; 
  font-family: 'Arial', sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: #9facb8;
  margin-top: 8px;
  margin-bottom: 1px;
}

h2 {
  margin-top: 3px;
  font-weight: normal;
}

.macro-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}